---
import Layout from '../layouts/Layout.astro';
---

<Layout lesson='css-animations'>
  <main>
    <h1>Animations</h1>
    <div class='wrapper'>
      <div class='square'></div>
      <div class='container'>
        <div class='box box--1'></div>
        <div class='box box--2'></div>
        <div class='box box--3'></div>
        <div class='box box--4'></div>
      </div>
      <svg
        style='position: absolute'
        width='750'
        height='419'
        viewBox='0 0 750 419'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'>
        <path
          id='motion-path'
          d='M78.6641 146.624C139.464 147.424 201.331 96.2911 224.664 70.6244L285.664 170.624C315.997 129.958 379.664 61.6244 391.664 113.624C403.664 165.624 487.997 162.624 528.664 154.624C574.264 71.4244 533.664 31.2911 507.664 21.6244C611.331 1.2911 801.464 -20.7756 732.664 53.6244C663.864 128.024 587.331 298.624 557.664 374.624C401.664 336.224 199.331 385.958 117.664 415.624L1.66406 241.624'
          stroke='black'
          stroke-width='4'></path>
      </svg>

      <div class='rectangle'></div>
      <div class='cuadro'></div>
      <div class='container-1'>
        <div class='star'></div>
        <div class='marker'></div>
      </div>
    </div>
  </main>
</Layout>
<style>
  :root {
    --star: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  .square {
    height: 100px;
    width: 100px;
    background-color: oklch(0.69 0.18 245.62);
    border-radius: 0.25rem;

    animation: move 3s ease-in-out 4;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .box {
    height: 50px;
    width: 50px;
    background-color: oklch(0.69 0.18 245.62);
    border-radius: 0.25rem;

    animation: tadaaa 2s ease-in-out 3 forwards;
  }

  .rectangle {
    width: 50px;
    height: 30px;

    background-color: hotpink;
    border-radius: 0.25rem;

    offset-path: url(#motion-path);

    animation: follow-path 5s ease-in-out infinite alternate;
  }

  .container-1 {
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 2rem;
    margin-top: 25rem;
  }
  .star {
    position: absolute;
    inset: 0;
    background: hotpink;
    clip-path: var(--star);
  }

  .marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 6px;
    background: black;

    offset-path: var(--star);
    animation: follow-path 5s ease-in-out infinite alternate;
  }

  .box--2 {
    animation-delay: 0.5s;
  }
  .box--3 {
    animation-delay: 1s;
  }
  .box--4 {
    animation-delay: 1.5s;
  }

  @keyframes move {
    from {
      transform: translateX(0);
    }
    25% {
      transform: translateX(300px) scale(0.5);
    }
    50% {
      transform: translateX(300px) translateY(200px) scale(0.5);
    }
    75% {
      transform: translateX(0) translateY(200px) scale(1.5);
    }
    to {
      transform: translateX(0) translateY(0) rotate(90deg);
    }
  }

  @keyframes tadaaa {
    40%,
    60% {
      transform: translateX(150px) scale(0.8) rotate(-3deg);
      animation-timing-function: cubic-bezier(0.26, 1.75, 0.69, 0.19);
    }
    100% {
      transform: translateX(150px) rotate(90deg) scale(1.1);
    }
  }

  @keyframes follow-path {
    45% {
      offset-distance: 55%;
    }
    55% {
      offset-distance: 45%;
    }
    to {
      offset-distance: 100%;
    }
  }
</style>
